body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  .a {
      text-align: center;
  }
  
  .navbar .navbar-brand {
    text-align: center;
  }

  .bg-input {
      padding: 15px;
      background-color: aliceblue;
  }

  .nav-item {
      margin: 10px;
      padding: 10px;
      font-size: larger;
  }

  .current-weather-conditions {
    background-color: lightcyan;
    padding: 15px;
    border: 1px black;
    margin: 10px;
  }
  
 .card {
     display: inline-block;
     max-width: 9rem;
 }
  
  
  .row {
    white-space: pre-wrap;
    border-top: 1px solid white;;
  }
  .five-day-forecast {
background-color: peachpuff;
margin: 10px;
  }
  
  .container {
      display: inline-block;
  }
 